[project]
	description = Test repository to tryout github and gerrithub integration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
[access "refs/for/refs/*"]
	read = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	push = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	label-Code-Review = -2..+2 group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	label-Verified = -1..+1 group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	rebase = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	removeReviewer = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	submit = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
[access "refs/heads/*"]
	read = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	create = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	push = +force group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	pushMerge = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
[access "refs/tags/*"]
	push = +force group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	pushTag = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
	pushSignedTag = group user/Juliusz Ćwiąkalski (juliusz-cwiakalski)
